#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: transparent; 
}

body {
  background-color: #0F332D;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 5vw;
  color: beige;
}

#sando {
  display: flex;
  justify-content: center;
  width: auto;
  max-width: 100%;
  max-height: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  color: beige;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  width: 20vw;
  height: 8vw;
  font-size: 2.5vw;
  margin-right: 1vw;
  margin-left: 1vw;
  justify-content: center;
  border-radius: 5vw;
  color: antiquewhite;
  background-color: rgb(9, 132, 105);
} 

#create {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
}  
#recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  font-size: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  justify-content: center;
  border-radius: 5vw;
  color: #0F332D;
}
#create-button {
  margin-top: 1.5vw;
  width: 20vw;
  height: 6vw;

}
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vw;
  font-size: 2.5vw;
  color: beige;
}
input {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 3.5vw;
} 
#form-instructions {
  margin-top: 1vw;
  width: 40vw;
  height: 30vw;
}